<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>API Docs</title>
        <link rel="stylesheet" href='<%= stylesheeturl %>'>
    </head>
    <body>
        <div class="container">
            <%- content %>
        </div>
    <script defer="defer" type="text/javascript" src='<%= jsscripturl %>'></script>
        <script defer="defer" ></script>
    </body>
</html>